<table class="filterCategoriesTable subjectsTable" >
    <thead>
        <tr>
            <th>Subjects</th>
        </tr>
    </thead>
    <tbody class="row">
        <tr><td>C.R.E.</td></tr>
        <tr><td>I.R.E.</td></tr>
        <tr><td>English</td></tr>
        <tr><td>Kiswahili</td></tr>
        <tr><td>Mathematics</td></tr>
        <tr><td>Science</td></tr>
        <tr><td>Social Studies</td></tr>
        <tr><td>English Readers</td></tr>
        <tr><td>Kiswahili Readers</td></tr>
    </tbody>
</table>
