<tr class="{{cssClasses}} library-item">
    <td>
        <button type="button"  class="read"

        {{#epub.isSubLibraryLink}}

        data-library="{{epub.rootUrl}}"
                
        {{/epub.isSubLibraryLink}}

        {{^epub.isSubLibraryLink}}

            {{#epub.isExternalLink}}

            data-link="{{epub.rootUrl}}"

            {{/epub.isExternalLink}}

            {{^epub.isExternalLink}}

            data-book="{{epub.rootUrl}}"
            data-title="{{epub.title}}"
            {{/epub.isExternalLink}}

        {{/epub.isSubLibraryLink}}

        aria-label="({{count.n}}) {{epub.title}}" title="({{count.n}}) "  tabindex="{{count.tabindex}}">
{{epub.title}}
    </button>
</td>
<td>
    <button aria-label="{{strings.i18n_details}} ({{count.n}}) {{epub.title}}" title="{{strings.i18n_details}} ({{count.n}}) {{epub.title}}" tabindex="{{count.tabindex}}" data-toggle="modal" data-target="#details-modal" data-package="{{epub.rootUrl}}/{{epub.packagePath}}" data-root="{{epub.rootUrl}}" data-root-dir="{{epub.rootDir}}" {{^epub.coverHref}} data-no-cover="{{noCoverBackground}}" {{/epub.coverHref}} class="btn btn-info details">{{strings.i18n_details}}</button>
</td>
    <td>{{epub.author}}{{^epub.author}}No Author Listed{{/epub.author}}</td>
    <td><button data-toggle="modal" data-target="#categories-modal" data-package="{{epub.rootUrl}}/{{epub.packagePath}}" data-root="{{epub.rootUrl}}" data-root-dir="{{epub.rootDir}}" {{^epub.coverHref}} data-no-cover="{{noCoverBackground}}" {{/epub.coverHref}} data-categories="{{#epub.categories}}{{.}},{{/epub.categories}}" class="btn btn-info categories edit">Edit</button> |
        <div class="categoryListings">
            {{#epub.categories}}
            <span class="categoryListing">{{.}}</span>
            {{/epub.categories}}
        </div></td>
</tr>
