
#app-container{
    overflow-x: hidden;
}

#empty-message{
    display: inline-block;
    font-size: 28px;
    width: 200px;
    margin-right: 60px;
    margin-top: 30px;
    font-family: "Source Sans Pro";
}

#empty-message-arrow{
    position: absolute;
    right: 42px;
    top: 40px;
}

.library-items{
    margin: 20px 10px;
}
.library-item{
    position: relative;

    padding-bottom: 20px;
}

.offscreenText{
    display:none;
}

.details{
    display: none;
}

.details-body .buttons{
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-width: 150%;
    text-align: left;
}

.no-cover{

    cursor: pointer;

    height: 190px;

    width: 142px;
    font-size: 19px;


    display: block; /* table */

    table-layout: fixed;

    padding: 0;
    color: white;
    font-family: serif;
}

.no-cover p{
    display: block; /* table-cell; */

    word-wrap: break-word;
    overflow-wrap: break-word;

    vertical-align: middle;
    text-align: center;

    padding-left: 10px;
    padding-right: 10px;
}

.details-body .no-cover{
    width: 150px;
    height: 200px;
    font-size: 20px;
}

.modal-cover-wrap img{
    max-width: 150px;
    max-height: 200px;
}

.modal-cover-wrap{
    position: relative;
    margin-right: 20px;
    height: 240px;
    display: inline-block;
    max-width: 185px;
    vertical-align: top;
}
.modal-book-info{
    display: inline-block;
    vertical-align: top;
    max-width: 370px;
}
.details-body{
    height: 100%;
}

.title, .author{
    /*text-align: center;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:5px;
    font-family: "Source Sans Pro"
}

.title{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
}

.author{
    color: #555;
}

nav #remotestorage-widget, nav #remotestorage-widget .rs-cube {
    position: static;
}

/* list view styles */
body.list-view #app-container{
    position: relative;
}
body.list-view #app-container .library-item{
    width: 100%;
    height: 250px;
    position: static;
    display: table-row;
}

body:not(.list-view) #app-container .library-item .info-wrap .no-cover {
    border: 1px solid #efefef;
    border-radius: 3px;
}

body:not(.list-view) #app-container .library-item .info-wrap button {
    width: 110%;
}

body:not(.list-view) #app-container .library-item .book-info {
    display: none;
}

body.list-view #app-container .library-item .book-info,
body.list-view #app-container .library-item .info-wrap{
    display: table-cell;
    vertical-align: middle;
}

body.list-view #app-container .library-item .book-info{
    padding-left: 20px;
}

body.list-view #app-container .library-item .book-info .title{
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    white-space: normal;
}
body.list-view #app-container .library-item .book-info .author{
    text-align: left;
}

/*
body.list-view #app-container .library-item img{
    height: 190px;
    width: 142px;
    max-width: 142px;
}
*/

.has-cover{
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:scroll;

    background-size:contain;

    -webkit-background-clip:content-box;
    -webkit-background-origin:content-box;
}

body.list-view .buttons{
    margin-top: 10px;
}
body.list-view .details{
    display: inline;
}

@media (max-width:768px){

    .library-item .book-info{
        display: none;
    }

    body.list-view #app-container .library-item .info-wrap{
        padding-bottom: 0px;
        padding-left: 0px;
    }
}


/*.icon-library, .icon-library:active{
  background-image: url('../images/glyphicons_319_sort.png');
}

.icon-add-epub, .icon-add-epub:active{
  background-image: url('../images/glyphicons_432_plus.png');
}

.icon-thumbnails, .icon-thumbnails:active{
  background-image: url('../images/glyphicons_156_show_thumbnails.png');
}

.icon-list-view, .icon-list-view:active{
  background-image: url('../images/glyphicons_158_show_lines.png');
}*/

.icon-thumbnails{
    display:none;
}

.list-view .icon-thumbnails{
    display:block;
}

.list-view .icon-list-view{
    display:none;
}

.sorting-books{
  display: none;
}

.sorting-books.show_element{
    display:block;
}

.library-item button[data-link] div p {
    margin: 0;
    padding: 0;
}
.library-item button[data-link] div p:before {

    content: ">>>>";

    font-family: sans-serif;
    font-weight: bold;

    font-size: 0.5em;
    padding: 0.3em;
    margin: 0;

    background-color: black;
    color: white;

    border: 0.12em solid white;

    opacity: 0.8;

    width: 100%;

    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

table.filterCategoriesTable
{
    width: 31%;
    font-size: 16px;
    display: inline-table;
    vertical-align: middle;
    margin: 0 82px;
}

table.filterCategoriesTable th
{
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding:21px;
    font-weight: 900;
}

table.filterCategoriesTable td
{
    padding: 14px;
    background: rgba(0,0,0,0.15);
}

table.filterCategoriesTable,
table.filterCategoriesTable th,
table.filterCategoriesTable td
{
    /*padding-left:35px;*/
    border: 2px solid rgba(255,255,255,0.3);
}

table.filterCategoriesTable td.selected
{
    background: rgba(237,28,36,0.15);
}

.removeCategory
{
    opacity: 0.5;
    margin-left: 3px;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    position: relative; top: 3px;
}

.removeCategory:hover
{
    opacity: 1;
}

.loading {
    text-align:center;
    font-size: 22px;
    top: 48%;
    width:100%;
    position: absolute;
}

.addCategoryListLabel,
.addCategoryGroupLabel
{
    float: left;
    width: 80px;
    padding-top: 10px;
}

.addCategoryGroup
{
    width: 450px;
    float: left;
    text-align: left;
}
.addCategorySection button.addCategory,
.addCustomCategorySection button.addCategory
{
    padding: 6px 12px;
    font-size: 15;
}

.addCustomCategorySection input
{
    background: transparent;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 12px;
    margin: 0 24px;
}
.addCategorySection
{
    margin: 15px 0 ;
    float:left;
}
.addCategoryGroup button.addCategory,
ul#bookCurrentCategories li
{
    margin: 4px 5px;
}
.modal-content
{
    float: left;
}

ul#bookCurrentCategories
{
    list-style: none;
}
ul#bookCurrentCategories li
{
    border: 2px solid #ec2028;
    border-radius: 4px;
    padding: 3px 7px;
    font-weight: bold;
    vertical-align: top; display: inline-block;

}




.addCustomCategorySection
{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    float:left;
    padding: 10px 0;
    margin-top: 14px;
}


.addCategories { float: left;};

.categoryListing
{
    font-weight: bolder;
}
.categoryListing:after
{
    content: ",";
}
.categoryListings
{
    display: inline;
}
.categoryListings .categoryListing:last-child:after
{
    content: "";
}

.filterCategories-dialog .modal-content, .filterSubjects-dialog .modal-content
{
    float: none;
    text-align: center;
}


.categoryListings span.categoryListing:first-child
{
    margin-left: 5px;

}
